@import './utils/reset.css';
@import './components/topbar.css';
@import './components/form.css';
@import './components/list.css';

.App {
    background-color: #eefbff;
    width: 100vw;
    height: 100vh;
}